html {
  overflow:hidden;
}

body {
  margin: 10px;
}

header {
  margin-bottom: 150px;
}


#branding {
  text-align: right;
}

#branding h1, 
#branding h2, 
#branding h3, 
#branding h4, 
#branding h5, 
#branding h6 {
  margin-bottom: -8px;
}

#product-detail {
  letter-spacing: -0.5px;
}

#newEventForm, .durationForm {
  margin:-15px;
}

input[type="text"], input[type="submit"], select, .durationButton {
  height: 50px;
}

input[type="text"], #newEventForm input[type="submit"], selectn {
  margin: 20px;
}

.durationButton, .durationSubmit {
  display: inline-block;
  margin: 20px 5px;
}

input[type="text"] {
  width: 75px;
}

input[type="number"] {
  height: 50px;
  width: 55px;
}

.clockpicker {
  display: inline-block;
}

#durations {
  padding: 5px;
  position: fixed;
  right: 3px;
  bottom: 3px;
  z-index: 1030;
}

.durationForm {
  margin-left: 5px;
}

.durationMinus {
  color: red;
  font-size: 25px;
  font-weight: bold;
}

.durationPlus {
  color: green;
  font-size: 25px;
  font-weight: bold;
}
