html {
  overflow:hidden;
}

body {
  margin: 10px;
}

#branding, #menu {
  text-align: right;
}

#branding h1, 
#branding h2, 
#branding h3, 
#branding h4, 
#branding h5, 
#branding h6 {
  margin-bottom: -8px;
}

#product-detail {
  letter-spacing: -0.5px;
}

#clock {
  margin: 0;
}

.row {
  margin-bottom: 10px;
}

form {
  text-align: center;
}

input[type="text"], input[type="number"]  {
  font-size: 40px;
  margin: 20px 5px;
  height: 70px;
  width: 130px;
}

#action {
  margin: 20px 0px;
}

.option {
  font-size: 40px;
  height: 70px;
  width: 130px;
}

p {
  margin: 0;
}

.clockpicker , .dropdown {
  display: inline-block;
}

#datepicker {
  border-radius: 0;
}

#newEventForm * {
  vertical-align: top;
}

.options {
  background: white;
  border: 1px solid lightgrey;
  margin-top: -20px;
  position: absolute;
}

.hidden {
  visibility: hidden;
}
