<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Apollo</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-clockpicker.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" type="text/css" href="css/jqbtk.min.css">
    <link rel="stylesheet" type="text/css" href="css/apollo.css">
  </head>

  <body>
    <div class="containter">
      <div class="row">
        <div id="customer" class="col-2">
          <img src="img/customer.jpg" alt="Humboldt Light Dep LLC." height="80"/>
        </div>
        <div id="branding" class="col-7">
          <h1 id="product">Apollo Plus</h1>
          <h6 id="product-detail">Greenhouse Automation</h6>
          <h3 id="brand">by HBI&E</h3>
        </div>
        <div id="menu" class="col-2">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#clockModal">
            <h2 id="clock"></h2>
          </button>
        </div>
        </div>
      </div>

      <div class="row">
        <div id="events" class="col-6">
          <h3>Schedule</h3>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#createEventModal">
            Add Event
          </button>
          <table class="table table-sm table-striped">
            <tr>
              <th>Time</th>
              <th>Action</th>
              <th>Duration (minutes)</th>
              <th> </th>
            </tr>
            {{ if .Events }}
              {{ range .Events }}
                <tr>
                  <td>{{ .Time }}</td>
                  {{ if (eq .Action "open") }}
                  <td class="table-success">{{ .Action }}</td>
                  {{ else }}
                  <td class="table-danger">{{ .Action }}</td>
                  {{ end }}
                  <td>{{ .Minutes }}</td>
                  <td>
                    <a class="btn btn-danger" href="/delete?id={{.Id}}">
                      Delete
                    </a>
                  </td>
                </tr>
              {{ end }}
            {{ end }}

          </table>
        </div>
      </div>
    </div>


    <footer>
    </footer>

    <!-- #################    Modals    ################ -->

    <!-- Modal -->
    <div class="modal fade" id="clockModal" tabindex="-1" role="dialog" aria-labelledby="clockModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="clockModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="setClockForm" method="post" action="/setClock">
              <div class="clockpicker" data-autoclose="true" data-placement="right">
                <label><input type="text" name="time" placeholder="time" required></label>
              </div>
              <input class="datepicker" type="text" name="date" placeholder="date" data-date-format="dd M yyyy" required>
              <label><input type="submit" value="Set"/></label>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Set</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="createEventModal" tabindex="-1" role="dialog" aria-labelledby="createEventLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createEventLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="newEventForm" method="post" action="/create">
              <div class="clockpicker" data-autoclose="true">
                <label><input type="text" name="time" placeholder="time" value="17:30" required></label>
              </div>
              <label><select name="action">
                 <option value="open">Open</option>
                 <option value="close">Close</option>
              </select></label>
              <label><input id="duration" type="number" name="minutes" placeholder="minutes" required></label>
              <label><input type="submit" value="Add Event"/></label>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Create</button>
          </div>
        </div>
      </div>
    </div>

    <!-- #################  Javascript  ################ -->

    <script src="js/jquery-slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-clockpicker.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/jqbtk.min.js"></script>
    <script type="text/javascript">
      $('.clockpicker').clockpicker();
      $('.datepicker').datepicker();
      $('#duration').keyboard({type:'numpad'});
    </script>
    <script>
      $(".durationMinus").on("click", function() {
        var $button = $(this);
        var $input = $button.next("input");
        var oldValue = $input.val();
        // Don't allow decrementing below zero
        if (oldValue > 5) {
          var newVal = parseFloat(oldValue) - 5;
        } else {
          newVal = 5;
        }
        $input.val(newVal);
      });

      $(".durationPlus").on("click", function() {
        var $button = $(this);
        var $input = $button.prev("input");
        var oldValue = $input.val();
        var newVal = parseFloat(oldValue) + 5;
        $input.val(newVal);
      });

      function updateClock ( ) {
        var currentTime = new Date ( );
        var currentHours = currentTime.getHours ( );
        var currentMinutes = currentTime.getMinutes ( );
        var currentSeconds = currentTime.getSeconds ( );

        // Pad the minutes and seconds with leading zeros, if required
        currentHours = ( currentHours  < 10 ) ? "0" + currentHours : currentHours;
        currentMinutes = ( currentMinutes  < 10 ) ? "0" + currentMinutes : currentMinutes;
        currentSeconds = ( currentSeconds  < 10 ) ? "0" + currentSeconds : currentSeconds;

        // Compose the string for display
        var currentTimeString = currentHours + ":" + currentMinutes + ":" + currentSeconds;
                                    
        $("#clock").html(currentTimeString);
      }

      $(document).ready(function() {
         setInterval('updateClock()', 1000);
      });

    </script>
  </body>
</html>
