[Unit]
Description=Automated Green House Service

[Service]
User=root
Group=root
WorkingDirectory=/home/argos
ExecStart=/home/argos/apollo
Restart=on-failure

[Install]
WantedBy=multi-user.target

